
.orange{
    color: #FF7A50;
}



.navbar{
    box-sizing: border-box;
    max-height: 100px;
}


.cart-hidden{
    width: 400px;
    height: 100vh;
    position: fixed;
    z-index: 99;
    background-color: #eee;
    color: #111;
    top: 0;
    right: -400px;
    transition: 1s;
}

.cart-show{
    width: 400px;
    height: 100vh;
    position: fixed;
    z-index: 99;
    background-color: #eee;
    color: #111;
    top: 0;
    right: -400px;
    transition: 1s;
    right: 0;
}


.navbar-nav .nav-link:hover{
 border-bottom: 3px solid #FF7A50;
 font-weight: bold;

}


@media (min-width:1100px){
    .navbar-nav .nav-link{
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}


@media (max-width:567px) {

    .navbar #phone{

      width: 50%;
        
    }

    .navbar-nav .nav-link{
        font-size: 10px;
        font-weight: bold;
    }
    .navbar-nav{
        display: flex;
        justify-content: space-between;
    }
    
}


@media (max-width:395px) {

    .navbar-nav .nav-link{
        font-size: 6px;
    }

    .Curer{
        width: 300px;
        height: 400px;
        background-size: cover;
    }
    
}

@media (max-width:500px) {

    
    .Curer{
        width: 300px;
        height: 500px;
        background-size: cover;
    }
    
}

